/* Vodyrizam - Front End Developer
for DanaBijak.com 02/10/2018 

/* ============================= */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1000px) {
  html {
    overflow-x: hidden !important;
  }
}
html {
  font-size: 100%;
}
body {
  background: #f9f9f9;
  font-family: 'PT Sans', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px;
  overflow-x: hidden !important;
  line-height: 1.7;
  /*color: #404041;*/
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
input[type="submit"], button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="text"]:disabled {
    background: none;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
p {
  line-height: 1.5;
}
a {
  color: #ee3d41;
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
}
a:hover,
a:focus {
  color: #e83534;
  text-decoration: none;
}
a:focus, .btn.focus, .btn:focus, .btn:hover,
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  /*outline: thin dotted;
  outline-offset: -4px;*/
  outline: none;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  /*outline: thin dotted;
  outline-offset: -4px;*/
  outline: none;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

b, strong {
  font-weight: 500;
}


/* ==========================================================================
   Icon
========================================================================== */

.ico {
  background: url(../../assets/img/icon.png) no-repeat;
  display: inline-block;
}
i.ico {
  display: inline-block;
  width: 55px;
  height: 30px;
  margin: 10px auto 0;
}


/* Mulai nangkene
==================================*/

#wrapper {
  overflow:hidden;
}

.content-box {
  padding: 30px 10px;
  overflow: hidden;
  background: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

.container {
  padding: 0 15px;
}
.container-fluid {
  padding: 0;
}
.container-fluid.fluid-wrapper {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}
.container-fluid.fluid-wrapper > .container {
  padding: 0;
}

.cRow {
  justify-content: center;
  display: flex;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 1000px;
    padding: 0;
  }
  .container-fluid.fluid-wrapper > .container {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.btn-outline-primary {
  border-color: #FFF;
}


/*Distance
-----------------------------------------*/
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-25 {
  margin-bottom: 25px;
}

.pZ {
  padding: 0;
}
.p-lZ {
  padding-right: 0;
}

.p-rZ {
  padding-right: 0;
}

.p-l-45 {
  padding-left: 45px;
}

/* Navbar
-----------------------------------------*/

.navbar {
  border-radius: 0;
  padding: 0 15px;
  height: auto;
  border: none;
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
}

.navbar-nav.nav-menu {
  margin-right: -30px;
}

.nav-menu li.activation {
  background: #ccc;
}

.nav-menu li >a {
  color: #fff;
  padding: 25px 20px;
}

.navbar-brand {
  height: auto;
  padding: 0;  
  width: 170px;
} 

.nav-link {
  text-transform: capitalize;
  color: #FFF;
}

@media (min-width: 992px) {
  .navbar {
    padding: 15px 30px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.navbar-toggler {
    border: 1px solid #FFF;
    padding: 8px 8px 3px;
}

.navbar-toggler-icon {
  background: #FFF;
  width: 1.1em;
  height: 2px;
  margin-bottom: 5px;
  display: block;
}


/* Section
-----------------------------------------*/

.headerHome {
  background: linear-gradient(rgba(59, 187, 180, .65), rgba(59, 187, 180, .65)), url(../../assets/img/skylineback.jpg) no-repeat bottom center;
  background-size: cover;
  /*height: calc(100vh - 54px);*/
  height: 100vh;
}

.jumbotron {
  background: none;
  color: #FFF;
  padding-top: 210px;
}

.jumbotron h1 ~ p {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.content-home {
  padding: 4rem 0 2.5rem;
  border-bottom: 1px solid #e4e4e4;
}

.content-home h2 {
  margin-bottom: 4rem;
  color: #1abc9c;
}

.content-home h3, .content-home h4, .content-home h5 {
  font-weight: normal;
  font-size: 1.3rem;
  color: #343a40;
}

.card {
  background: none;   
  border: none; 
}

.card-img-top {
  overflow: hidden;
  border-radius: 5px;
}

.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 992px) {
  .card-img-top {
    height: 170px;
  }
}

.loan__box {
  padding: 15px;
  height: 400px;
  border-radius: 5px;
  background: rgba(255,255,255,.9);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.4);
}

/* Footer`
-----------------------------------------*/

footer {
  background: #236d69;
  color: #dcecf5;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: .823rem;
  font-weight: normal;
  line-height: 1.8;
}

footer h5, footer h6{
  font-size: .823rem;
  font-weight: normal;
}

footer ol {
  padding-left: 25px;
}

.footer-background {
  background: #FFF url(../../assets/img/jakarta-skyline.jpg) no-repeat bottom center;
  background-size: 100%;
  height: 600px;
}

@media (max-width: 767px) {
  .footer-background {
    height: 400px;
  }
}