/* Vodyrizam - Front End Developer
for DanaBijak.com 02/10/2018 

/* ============================= */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1000px) {
  html {
    overflow-x: hidden !important;
  }
}
html {
  font-size: 100%;
}
body {
  background: #f9f9f9;
  font-family: 'PT Sans', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px;
  overflow-x: hidden !important;
  line-height: 1.7;
  /*color: #404041;*/
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
input[type="submit"], button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="text"]:disabled {
    background: none;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
p {
  line-height: 1.5;
}
a {
  color: #ee3d41;
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
}
a:hover,
a:focus {
  color: #e83534;
  text-decoration: none;
}
a:focus, .btn.focus, .btn:focus, .btn:hover,
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: none;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
}

b, strong {
  font-weight: 500;
}

.btn-primary {
  width: 200px;
  background: #1abc9c;
  border-color: #1abc9c;
  margin-bottom: .5rem;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
    background: #0aac8c;
    border-color: #0aac8c;
}

.btn-outline-primary {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  color: #1abc9c;
  border: 1px solid #0aac8c;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled):active {
  background: #1abc9c;
  border-color: #0aac8c;
  color: #fff;
}

.btn-outline-default {
  border-color: #FFF;
}

/* ==========================================================================
   Icon
========================================================================== */

.ico {
  background: url(../../assets/img/icon.png) no-repeat;
  display: inline-block;
}
i.ico {
  display: inline-block;
  width: 55px;
  height: 30px;
  margin: 10px auto 0;
}

/* Mulai nangkene
==================================*/

#wrapper {
  overflow:hidden;
}

.content-box {
  padding: 30px 10px;
  overflow: hidden;
  background: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

.container {
  padding: 0 15px;
}
.container-fluid {
  padding: 0;
}
.container-fluid.fluid-wrapper {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}
.container-fluid.fluid-wrapper > .container {
  padding: 0;
}

.cRow {
  justify-content: center;
  display: flex;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 1000px;
    padding: 0;
  }
  .container-fluid.fluid-wrapper > .container {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* Navbar
-----------------------------------------*/

.navbar {
  border-radius: 0;
  padding: 0 15px;
  height: auto;
  border: none;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

.switch-color {
  background: rgba(59, 187, 180, .95);
}

.navbar-nav.nav-menu {
  margin-right: -30px;
}

@media (max-width: 767px) {
  .navbar-nav {
    padding-bottom: 20px;
    border-top: 1px solid #FFF;
    padding-top: 10px;
  }
}

.nav-menu li.activation {
  background: #ccc;
}

.nav-menu li >a {
  color: #fff;
  padding: 25px 20px;
}

.navbar-brand {
  height: auto;
  padding: 0;  
  width: 170px;
} 

.nav-link {
  text-transform: uppercase;
  color: #FFF;
  margin-left: 5px;
}

.nav-link:hover, .nav-link:focus, .nav-link:not(:disabled):not(.disabled):active {
  color: inherit;
  background: #FFF;
}

@media (min-width: 992px) {
  .navbar {
    padding: 15px 30px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.navbar-toggler {
    border: 1px solid #FFF;
    padding: 8px 8px 3px;
}

.navbar-toggler-icon {
  background: #FFF;
  width: 1.1em;
  height: 2px;
  margin-bottom: 5px;
  display: block;
}

/* Section
-----------------------------------------*/

.headerHome {
  background: linear-gradient(rgba(59, 187, 180, .65), rgba(59, 187, 180, .65)), url(../../assets/img/skylineback.jpg) no-repeat bottom center;
  background-size: cover;
}

.jumbotron {
  background: none;
  color: #FFF;
  padding: 100px 0 2rem;
}

@media (min-width: 992px) {
  .headerHome {
    height: 100vh;
  }
  .jumbotron {
    padding-top: 120px;
  }
}

.jumbotron h1 ~ p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.content-home {
  padding: 4rem 0 2.5rem;
  border-bottom: 1px solid #e4e4e4;
}

.content-home h2 {
  margin-bottom: 4rem;
  color: #1abc9c;
}

.content-home h3, .content-home h4, .content-home h5 {
  font-weight: normal;
  font-size: 1.24rem;
  color: #343a40;
}

.card {
  background: none;   
  border: none; 
}

.card-img-top {
  overflow: hidden;
  border-radius: 5px;
}

.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-top.loan-img {
  height: 120px;
}

.loan-img img {
  width: auto;
  height: 100%;
  object-fit: none;
}

.card-img-top.loan-img ~ .card-body h3 {
  font-size: 1.24rem;
  color: #1abc9c;
  font-weight: 700;
}

.loan__box {
  padding: 15px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.4);
  color: #212536;
  position: relative;
  z-index: 3;
}

.loan__box a {
  color: #007bff;
}

.calculator-row {
  margin-bottom: 15px;
}

.calculator label {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .card-img-top {
    height: 170px;
  }
  .loan__box {
    padding: 40px;
  }
  .calculator-row {
    margin-bottom: 30px;
  }
}

.calculator .ui-slider .ui-slider-handle {
  top: -8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-color: #1abc9c;
  border-width: 2px;
  cursor: pointer;
}

.calculator .ui-slider .ui-slider-handle.ui-state-active, .calculator .ui-slider .ui-slider-handle:focus, .calculator .ui-slider .ui-slider-handle:hover {
    background-color: #fff;
    outline: none;
}

.calculator .ui-slider .ui-slider-range {
    background: #1abc9c;
    border-radius: 16px 0 0 16px;
}

.calculator .ui-slider {
  margin-top: 15px;
  margin-bottom: 45px;
  height: 16px;
  border-radius: 16px;
  border: none;
  background: #ddd;
}

.calculator .offer .offer-box {
  border: 1px solid #e4e4e4;
  background: #fafafa;
  padding: 20px;
  text-align: left;
}

.supervision-box {
  margin: 15px 0;
}

.supervision-box p {
  color: #FFF;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  font-weight: 700;
}

.supervision-logo {
  height: 50px;
  float: left;
}

@media (max-width: 767px) {
  .supervision-logo {
    height: 40px;
  }
  .calculator .offer .offer-box {
    padding: 10px;
  }
}

.why-danabijak h4 ~ p {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .why-danabijak h4 ~ p {
    width: 90%;
  }
}

.supervision-logo img {
  height: 100%;
  object-fit: cover;
  width: auto;
}

/* Table
-----------------------------------------*/

.table td, .table th {
  border-top: none;
}

.calculator .offer .offer-box .title {
    font-size: 1.1rem;
}

.calculator .offer .offer-box .table td, .calculator .offer .offer-box .table td {
    border-top: none;
    vertical-align: middle;
}

.calculator .offer .offer-box .value {
  color: #1abc9c;
  font-weight: 700;
  font-size: 1.5rem;
  min-width: 150px;
}

@media (max-width: 767px) {
  .calculator .offer .offer-box .title, .calculator .offer .offer-box .value {
      font-size: 1rem;
  }
}

/* Footer
-----------------------------------------*/

footer {
  background: #236d69;
  color: #dcecf5;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: .823rem;
  font-weight: normal;
  line-height: 1.8;
}

footer h5, footer h6{
  font-size: .823rem;
  font-weight: normal;
}

footer ol {
  padding-left: 25px;
}

.footer__social {
  font-size: 1rem;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.footer__social h5 {
    font-size: 1rem;
    color: #1abc9c;
}

.footer__social ul li{
    list-style-type: none; 
}

.footer__social ul li a {
  color: #dcecf5;
  text-decoration: none;
  display: block;
}

.footer__social ul li a:hover {
  text-decoration: underline;
}

.footer-bottom h5, .footer-bottom h6 {
  font-weight: 700;
}

.icon-box {
  display: inline-block;
  width: 15px;
  position: relative;
  top: 4px;
  margin-right: 12px;
}

.footer-background {
  background: #FFF url(../../assets/img/jakarta-skyline.png) no-repeat bottom center;
  background-size: 100%;
  height: 540px;
}

@media (max-width: 767px) {
  .footer-background {
    height: 400px;
  }
}